@import '../../stylesheets/_variables.scss';
@import '../../stylesheets/_responsive.scss';
.SideMenuButton {
  border: none;
  background: white;
  color: $colorText;
  display: block;
  &.active {
    background: #ebebeb;
  }
  &__label {
    font-size: 12px;
    &.active {
      font-weight: bold;
    }
  }
  &__icon {
    font-size: 18px;
    min-width: 20px;
    margin-right: 10px;
  }
}